<div class="container mx-auto py-8 flex justify-end" id="cv-container">
  <div class="flex flex-col lg:flex-row lg:items-start">
    <div class="lg:w-1/2 p-4">
    <h1 class="text-3xl font-bold">Kenneth Flatner</h1>
    <p class="mb-2">Født: 04.09.88</p>
    <p class="mb-2">Telefon: <a href="tel:+4792428451" class="text-blue-500 hover:text-blue-700 transition duration-300">924 28 451</a></p>
    <p class="mb-8">Mail: <a href="mailto:kflatner3&#64;gmail.com" class="text-blue-500 hover:text-blue-700 transition duration-300">kflatner3&#64;gmail.com</a></p>
    <h2 class="text-2xl font-semibold mb-4">Nøkkelkvalifikasjoner</h2>
    <ul class="list-disc list-inside mb-8">
      <li>Dyktig relasjonsbygger.</li>
      <li>Er datakyndig og lærer systemer raskt.</li>
      <div>
        <img src="assets/profile-picture.jpg" alt="Profile Picture" class="w-48 h-39  rounded-lg shadow-lg mb-4 "> 
      </div>
    </ul>
  </div>
  <div class="w-2/3">
    <div class="border border-gray-200 rounded-lg shadow-md p-6">
      <h2 class="text-2xl font-semibold mb-4">Arbeidserfaring</h2>
      <div class="space-y-4 mb-8">
        <div>
          <h3 class="text-lg font-bold">2018 – d.d. Assistent, Lærer U/utd, Ranvik Ungdomsskole</h3>
          <p>Oppfølging av enkeltelever med særskilte behov, relasjonsbygging og miljøarbeid.</p>
        </div>
        <div>
          <h3 class="text-lg font-bold">2016 – 2018 Aktivitetsleder, FFO</h3>
          <p>Planlegge og gjennomføre aktiviteter, med hovedfokus på ball, for barn fra 1.-5. klasse. Servering av mat og leksehjelp.</p>
        </div>
        <div>
          <h3 class="text-lg font-bold">2013 - 2015 Montør, prosjektleder og kundeservice, Din box</h3>
        </div>
        <div>
          <h3 class="text-lg font-bold">2006 - 2013 Operatør, Jotun</h3>
        </div>
      </div>
      <h2 class="text-2xl font-semibold mb-4">Utdanning</h2>
      <div class="space-y-4 mb-8">
        <div>
          <h3 class="text-lg font-bold">2014 – 2015 Påbygg, Folkeuniversitetet</h3>
        </div>
        <div>
          <h3 class="text-lg font-bold">2004 – 2006 Byggfag og steinfag, Thor Heyerdal</h3>
        </div>
      </div>
      <div class="flex justify-center">
        <button (click)="downloadCV()" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 transition duration-300">Download CV as PNG</button>
      </div>
    </div>
  </div>
</div>


