<div class="container mx-auto py-8 ">
  <div class="flex flex-col lg:flex-row lg:items-start">
    <div class="lg:w-1/2 p-4">
      <h2 class="text-4xl font-spartan mb-4 py-12"></h2>
          <p class="mb-4">Jeg studerer for tiden ved GET Academy fagskole, hvor jeg jobber mot 30 studiepoeng innen programmering og systemutvikling.
   <p class="mb-4">Etter å ha jobbet som miljøarbeider på ungdomsskole i over seks år, kjente jeg på et behov for et sceneskifte – og et ønske om å følge min egen interesse.
 Jeg har alltid hatt en dyp fascinasjon for teknologi, gaming og hvordan ting fungerer bak kulissene, og bestemte meg for å satse på denne lidenskapen på et mer profesjonelt nivå.</p>
      <p class="mb-4">Som person er jeg en positiv og lærevillig type som elsker å dykke ned i nye ting. Når jeg finner noe som virkelig interesserer meg, gir jeg alt for å mestre det –
	  uansett hvor utfordrende det måtte være.</p>
	  
      
	  
	  <p class="mb-4">Jeg jobber aktivt med språk som JavaScript, HTML, CSS og C#, og deltar også på et kurs i testdrevet utvikling med Python, ledet av Bjarne Helgesen. Tidligere har jeg også jobbet med TypeScript og SQL gjennom kurs på Codecademy, og eksperimentert med app-utvikling i Angular.</p>
      <p class="mb-4">Nå ser jeg etter muligheter til å bygge videre på denne erfaringen og satse seriøst på en karriere innen koding og teknologi. Dette er en reise jeg gleder meg stort til å fortsette, og jeg er klar til å lære, vokse og skape spennende ting!</p>
    </div>
    <div class="lg:w-1/2 flex flex-wrap justify-center gap-4 p-4">
      <img src="assets/IMG_1118.jpg" alt="Picture 1" class="w-full lg:w-1/3 rounded-lg shadow-lg">
      <img src="assets/IMG_1281.jpg" alt="Picture 2" class="w-full lg:w-1/3 rounded-lg shadow-lg">
      <img src="assets/IMG_1492.JPG" alt="Picture 3" class="w-full lg:w-1/4 rounded-lg shadow-lg">
    </div>
  </div>
</div>
